name: veracode-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Package source for Veracode
        run: |
          zip -r app.zip . -x ".git/*" "node_modules/*" ".github/*" "*.md"

      - name: Upload package for log
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app.zip
