name: veracode-build

on:
  workflow_call:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Package source for Veracode
        run: |
          zip -r veracode-artifact.zip . -x ".git/*" "node_modules/*" ".github/*"
